{% comment %} <HEAD></HEAD> {% endcomment %}
{% render 'partials/head.liquid', title: 'Squad page' %}
{% comment %} <header></header> {% endcomment %}
{% render 'partials/header.liquid' %}

<a class="back-home" href="/">Back</a>

<main>

    <img class="avatar" src="/assets/{{ person.id }}.png" alt="{{ person.name }}" />

    <div>
            <li><a class="name-student" href="/student/{{ person.id }}">{{ person.name }}</a></li>
            {% comment %} <pre>{{ person | json | replace: ',', ',\n' | replace: '{', '{\n' | replace: '[', '[\n' }}</pre> {% endcomment %}
            
            <hr>
            
            <pre>
                <p>{{ person.bio }}</p>
                <p><strong>Most energy:</strong> {{ person.most_energy }}</p>
                <p><strong>Favorite kitchen:</strong> {{ person.fav_kitchen }}</p>
            </pre>             

            <form method="post" action="/student/{{ person.id }}">

                <p><strong>Voeg quote toe:</strong></p>

                <label>
                    <input type="text" name="texten" required>
                </label>
                
                <button class="submit-quote" type="submit">Submit</button>
            </form>

            <div>
                {% for message in messages %} 
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
    </div> 

   
 </main>