{% comment %} <HEAD></HEAD> {% endcomment %}
{% render 'partials/head.liquid', title: 'Squad page' %}
{% comment %} <header></header> {% endcomment %}
{% render 'partials/header.liquid' %}


<main>
    <div class="container-avatar-quote">
        <img class="avatar" src="/assets/{{ person.id }}.png" alt="{{ person.name }}" />
        
        {% if personalQuote %}
            <blockquote>"{{ personalQuote }}"</blockquote>
        {% endif  %}
    </div>

    <div>
            <li><a class="name-student" href="/student/{{ person.id }}">{{ person.name }}</a></li>
            
            <hr>
            
            <pre>
                <p>{{ person.bio }}</p>
                <p><strong>Most energy:</strong> {{ person.most_energy }}</p>
                <p><strong>Favorite kitchen:</strong> {{ person.fav_kitchen }}</p>
            </pre>             
            <form method="post" action="/student/{{ person.id }}">

                <p><strong>Voeg quote toe:</strong></p>

                <input type="hidden" name="person_name" value="{{ person.name }}">
                
                <label>
                    <input type="text" name="message" required>
                </label>
                
                <button class="submit-quote" type="submit">Submit</button>
            </form>

            <div>
                {% for message in messages %} 
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
    </div> 

   
 </main>